

    
    body {
            font-family: Arial, sans-serif;
            line-height: 1.4;
            background-color: #505050;
            color: #fff2c6;
            padding: 20px;
            margin: 0px;
            background: url('blackBoard.jpg');
            /* background-size:contain; */
            /* background-repeat: no-repeat; */
            letter-spacing: 1.5px;
            word-spacing: 5px;

     }
h1 {
    display: block;
    font-size: 3em;
    font-weight: thin;
    display: flex;
    justify-content: center;
    font-family:fantasy;
      letter-spacing: 5px;
}
  h2 {
    display: block;
    font-size: 1.3em;
  }
 h1, h2, h3 {
            color: #ffc14e;
            margin-top: 30px;
        }
pre{
  border: 1px solid rgb(248, 237, 215);
  /* font-size: 10px */
}

a{
  color: aquamarine;
}

   .compiler {
            margin: 40px 20px;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: #242424;
            border-radius: 5px;
            position: relative;
        }

        .output {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            color: #111;

        }

        .CodeMirror {
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%;
            height: auto;
            overflow: hidden;
            /* Prevent overflow */
        }

        button {
            margin: 10px 0px;
            padding: 10px 15px;
            background-color: #dcdcdc2f;
            color: #fff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }

        button:hover {
            background-color: #ffefcd83;

        }